<footer>
  <div class="icons">
      <i class="fab fa-twitter-square fa-2x"></i>
      <i class="fab fa-facebook-square fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
  </div>
  <div>
    <small><em>
      Icons made by <a style="color:white;" href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a style="color:white;"  href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a style="color:white;" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </em><small>
  </div>
</footer>
