<footer>

    <div class="icons">
        <i class="fab fa-twitter-square fa-2x"></i>
        <i class="fab fa-facebook-square fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
    </div>

</footer>