<footer>
 
  <div class="about">
      <p class="textbox">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non blanditiis, 
          sunt qui sint quia officiis ut commodi libero ducimus dicta accusamus enim ipsum
      </p>

      <p class="textbox">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non blanditiis, 
        sunt qui sint quia officiis ut commodi libero ducimus dicta accusamus enim ipsum
      </p>
    </div>
  
    <div class="icons">
        <i class="fab fa-twitter-square fa-2x"></i>
        <i class="fab fa-facebook-square fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
      </div>  
    </div>

</footer>
