
<header>
  <div class="logo">
      <i class="fal fa-coffin fa-2x"></i>
  </div>
    <span class="title"><h1>Bela Lugosi's Fed</h1></span>

  <nav id="nav-bar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/order">Order</a></li>
    </ul>
  </nav>

  <div class="line"></div>

</header>