<!-- views/partials/header.ejs -->

  <header>
    <div class="logo">
     <img src="http://placekitten.com/50/50">
     BELA LUGOSI'S FED
    </div>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/order">Order</a></li>
    </ul>
  </header>
