<!DOCTYPE html>
<html lang="en"><
<head>
  <title>Checkout Page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!--Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jolly+Lodger|Roboto" rel="stylesheet">

  <!--CSS pages -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/footer.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css"/>

  <!--Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/checkout.js"></script>

  <!-- Meta Information -->
  <title>Bela Lugosi's Fed</title>
</head>

  <body>
  <% include ../views/partials/_header %>
    <div>
      <h2>Order Summary</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody id="body">
          <!-- orders to go here-->
        </tbody>
        <tfoot>
          <tr">
            <td>Total</td>
            <td></td>
            <td id="total"></td>
          </tr>
        </tfoot>
      </table>
      <button type="submit">Edit</button>
    </div>
    <h2>User Info</h2>

    <form action="/api/users/checkout" method="POST">
      <label for="Name">Name</label>
      <input type="text" name="name" />
      <label for="Phone No.">Phone No.</label>
      <input type="text" name="phone_no" />
      <label for="confirm">Confirm</label>
      <input type="Submit" name="confirm"/>
    </form>

  <% include ../views/partials/_footer %>
  </body>
</html>
