<!DOCTYPE html>
<html lang="en">
<head>
  <title>Checkout Page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!--Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jolly+Lodger|Roboto" rel="stylesheet">

  <!--CSS pages -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/footer.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css"/>

  <!--Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/checkout.js"></script>

</head>

  <body>
  <% include ../views/partials/_header %>
    <div class="summary">
      <div class="header">
        <h2>Order Summary</h2>
      </div>
      <br>
      <br>
      <table class="table table-borderless table-dark">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody id="body">
          <!-- orders to go here-->
        </tbody>
        <tfoot>
          <tr">
            <td><strong>Total</strong></td>
            <td></td>
            <td id="total"></td>
          </tr>
        </tfoot>
      </table>
       <form action="/edit">
          <button type="submit" class="btn btn-dark" formmethod="post">Edit</button>
        </form>
    </div>

    <div class="info">
      <h2>User Info</h2>
      <form action="/api/users/checkout" method="POST">
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" name="name" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="Phone No.">Phone No.</label>
          <input type="text" name="phone_no" class="form-control"/>
        </div>
        <div>
          <input type="Submit" name="confirm" value="Confirm" class="form-control btn-dark"/>
        </div>
      </form>
    </div>

    <% include ../views/partials/_footer %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
