<!DOCTYPE html>
<html lang="en">
  <head>
    <title>home page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src=""></script> -->
  </head>

  <body>
    <h1>Welcome to our app</h1>
    <form method="GET" action="/menu">
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-danger">Menu </button>
      </div>
    </form>
    <form method="GET" action="/order">
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-danger">Order Now </button>
      </div>
    </form>
    
    <div><img src = '/home/z79liu/lighthouse/midterm_project_name/public/images/restaurant'>
    </div>
  </body>
</html>
