<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!--CSS pages -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/home.css" type="text/css"/>

    <!--Javascript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <% include ../views/partials/_header %>

  </head>

  <body>

    <img src="https://i.pinimg.com/originals/8c/a5/87/8ca587d0f5503f3e0676ef8eae18c664.jpg">

  </body>

</html>
