<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  <!-- Meta Information -->
  <title>Bela Lugosi's Fed</title>

</head>

<body>

  <main class="container">

    <div class="row">

      <div class = "col-sm-4">
        <img src="http://placekitten.com/200/300">
        <h1>Juicy Vampire Syrum</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud hi hello hi
        </p>
      </div>

      <div class = "col-sm-4">
        <img src="http://placekitten.com/200/300">
        <h1>Juicy Vampire Syrum</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
      </div>

     <div class = "col-sm-4">
        <img src="http://placekitten.com/200/300">
        <h1>Juicy Vampire Syrum</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
      </div>

    </div>

        <div class="row">

      <div class = "col-sm-4">
        <img src="http://placekitten.com/200/300">
        <h1>Juicy Vampire Syrum</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
      </div>

      <div class = "col-sm-4">
        <img src="http://placekitten.com/200/300">
        <h1>Juicy Vampire Syrum</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
      </div>

     <div class = "col-sm-4">
        <img src="http://placekitten.com/200/300">
        <h1>Juicy Vampire Syrum</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
      </div>

    </div>




  </main>

  <footer>
    SOCIAL MEDIA LINKS
  </footer>


</body>
</html>
