<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!--Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jolly+Lodger|Roboto" rel="stylesheet">

  <!--CSS pages -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

  <!--Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- Menu JS file -->
  <script type="text/javascript" src="/scripts/menu.js"></script>

  <!-- Meta Information -->
  <title>Bela Lugosi's Fed</title>

</head>

<body>
  <% include ../views/partials/_header %>

  <section class="vamp-menu container">

    <div class="row">
      <figure class="col-sm">
        <div class="menus">
          <img alt="picture" src="/images/trueblood.jpg">
        </div>
        <h2 id="6">True Blood Vials</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud hi hello hi
        </p>
        <p>9.99</p>
        <button class="add-to-cart btn btn-light" type="submit">Add to Cart</button>
      </figure>

      <figure class="col-sm">
        <div class="menus">
          <img alt="picture" src="/images/bloodpunch.jpg">
        </div>
        <h2 id="2">Blood Punch</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <p>9.99</p>
        <button class="add-to-cart btn btn-light" type="submit">Add to Cart</button>
      </figure>

      <figure class="col-sm">
        <div class="menus">
          <img alt="picture" src="/images/fangcookies.jpg">
        </div>
        <h2>Fang Cookies</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
      </figure>
    </div>

    <div class="row">
        <figure class="col-sm">
          <div class="menus">
            <img alt="picture" src="/images/bloodcupcakes.jpg">
          </div>
          <h2 id="3">Bloody Cupcakes</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud hi hello hi
          </p>
        </figure>

        <figure class="col-sm">
          <div class="menus">
            <img alt="picture" src="/images/cocktail.jpg">
          </div>
          <h2 id="4">Drippy Blood Cocktail</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
          </p>
        </figure>

        <figure class="col-sm">
          <div class="menus">
            <img alt="picture" src="/images/biteshots.jpg">
          </div>
          <h2 id="5">Bite Shots</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
          </p>
        </figure>
      </div>

      <div class="row">
          <figure class="col-sm">
            <div class="blood">
              <img alt="picture" src="/images/slayersoup.jpg">
            </div>
            <h2 id="1">Slayer Soup</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud hi hello hi
            </p>
          </figure>

          <figure class="col-sm">
            <div class="menus">
              <img alt="picture" src="/images/heart.png">
            </div>
            <h2>Fresh Bloody Hearts</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </figure>

          <figure class="col-sm">
            <div class="menus">
              <img alt="picture" src="/images/fleshbuds.png">
            </div>
            <h2>Flesh Rosebuds</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </figure>
        </div>

        <div class="row">
          <figure class="col-sm-4">
              <div class="blood">
                <img alt="picture" src="/images/cheekshanks.jpg">
              </div>
              <h2>Cheek Shanks with Blood Reduction</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud hi hello hi
              </p>
            </figure>
        </div>

  </section>
  <% include ../views/partials/_footer %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>