<!doctype html>
<html lang="en">
<head>
  <title>Order Page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!--Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!--CSS pages -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/footer.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/order.css" type="text/css"/>

  <!--Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    
  <!-- Meta Information -->
  <title>Bela Lugosi's Fed</title>
  
</head>

<<<<<<< HEAD
  <!-- Font Awesome for Plus and Minus Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <style>
      nav a {
        float: right;
      }

      main {
        padding-top: 100px;
      }

      main article {
        padding-bottom: 100px;
      }

      main article .quantity {
        float: left;
      }

      main article .menu-item {
        float: left;
      }

      main article img {
        float: left;
      }

      footer h4 {
        float: right;
      }
    </style>
    <!-- External JS for Jquery Methods -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- Application JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <nav>
      <img src="http://placekitten.com/408/287"/ height=50px width=50px>
      <span>Drax's Snax</span>
      <a href="/menu">Place Order</a>
      <a href="/order">Menu</a>
    </nav>
    <main>
      <form method="post" action="">
        <div>
          <label for="name">French Hens</label>
          <input type="text" name="vampire food" id="french-hens" value="3">
        </div>
        <div>
          <label for="name">Turtle Doves</label>
          <input type="text" name="burger" id="turtle-doves" value="2">
        </div>
        <div>
           <label for="name">Partridges</label>
          <input type="text" name="eating" id="partridge" value="1">
        </div>
        <input type="submit" value="Submit" id="submit">
      </form>
    </main>
    <footer>
      <h2> Contact Information </h2>
      <h4> Phone Number: 416-383-5730 </h4>
      <h4> Email: <a href="">hello@example.com</a></h4>
    </footer>
=======
  <body>
  <% include ../views/partials/_header %>
    <article>
      <img src="http://placekitten.com/408/287" height=50px width=50px/>
      <p class="quantity">3</p>
      <img src="http://placekitten.com/408/287" height=50px width=50px/>
      <p class="menu-item"> Menu Item</p>
    </article>
    <article>
      <img src="http://placekitten.com/408/287" height=50px width=50px/>
      <p class="quantity">3</p>
      <img src="http://placekitten.com/408/287" height=50px width=50px/>
      <p class="menu-item"> Menu Item</p>
    </article>

    <button href="/order">Confirm Order</button>
  
    <% include ../views/partials/_footer %>
 
>>>>>>> master
  </body>

</html>
