<!doctype html>
  <html lang="en">
  <head>
    <title>Order Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!--Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
   
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jolly+Lodger|Roboto" rel="stylesheet">

      <!--CSS pages -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/order.css" type="text/css"/>

    <!--Javascript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

     <!-- Application JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <style>
      article form div input {
        text-align: center;
      }
    </style>

  </head>

  <body>
  <% include ../views/partials/_header %>
    <!-- <article>
      <form method="post" action="/order">
        <div>
          <label for="name">French Hens</label>
          <input type="text" name="french-hens" data-animal-type="French Hens"
           maxlength="3" size="2" value="0">
        </div>
        <div>
          <label for="name">Turtle Doves</label>
          <input type="text" name="turtle-doves" data-animal-type="Turtle Doves" maxlength="3" size="2" value="0">
        </div>
        <div>
          <label for="name">Partridges</label>
          <input type="text" name="partridge" data-animal-type="Patridges" maxlength="3" size="2" value="0">
        </div>

        <input type="submit" value="Checkout" id="submit">
      </form>
    </article> -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Minus</th>
          <th>Plus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="1">Slayer Soup</td>
          <td>$9.99</td>
          <td class="quantity">
            <span>0</span>
            <!-- <input type="text" name="quantity" maxlength="3" size="2" value ="0"> -->
          </td>
          <td class="minus"><i class="fas fa-minus-circle"></i></td>
          <td class="plus"><i class="fas fa-plus-circle"></i></td>
        </tr><tr>
          <td id="2">Blood Punch</td>
          <td>$9.99</td>
          <td>
            <!-- <input type="text" name="quantity" maxlength="3" size="2" value ="0"> -->
            <span>0</span>
          </td>
          <td class="minus"><i class="fas fa-minus-circle"></i></td>
          <td class="plus"><i class="fas fa-plus-circle"></i></td>
        </tr><tr>
          <td id="3">Bloody Cupcakes</td>
          <td>$9.99</td>
          <td>
            <!-- <input type="text" name="quantity" maxlength="3" size="2" value ="0"> -->
            <span>0</span>
          </td>
          <td class="minus"><i class="fas fa-minus-circle"></i></td>
          <td class="plus"><i class="fas fa-plus-circle"></i></td>
        </tr><tr>
          <td id="4">Drippy Blood Cocktails</td>
          <td>$9.99</td>
          <td>
            <!-- <input type="text" name="quantity" maxlength="3" size="2" value ="0"> -->
            <span>0</span>
          </td>
          <td class="minus"><i class="fas fa-minus-circle"></i></td>
          <td class="plus"><i class="fas fa-plus-circle"></i></td>
        </tr><tr>
          <td id="5">Bite Shots</td>
          <td>$9.99</td>
          <td>
            <!-- <input type="text" name="quantity" maxlength="3" size="2" value ="0"> -->
            <span>0</span>
          </td>
          <td class="minus"><i class="fas fa-minus-circle"></i></td>
          <td class="plus"><i class="fas fa-plus-circle"></i></td>
        </tr><tr>
          <td id="6">True Blood Vials</td>
          <td>$9.99</td>
          <td>
            <!-- <input type="text" name="quantity" maxlength="3" size="2" value ="0"> -->
            <span>0</span>
          </td>
          <td class="minus"><i class="fas fa-minus-circle"></i></td>
          <td class="plus"><i class="fas fa-plus-circle"></i></td>
        </tr>
      </tbody>
    </table>

    <form action="/checkout" method="post">
       <button type="submit">Checkout</button>
    </form>

    <% include ../views/partials/_footer %>
  </body>

</html>
