<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<fill this in>">
    <meta name="author" content="<fill this in>">

    <style>
      nav a {
        float: right;
      }

      main {
        padding-top: 100px;
      }

      main article {
        padding-bottom: 100px;
      }

      main article .quantity {
        float: left;
      }

      main article .menu-item {
        float: left;
      }

      main article img {
        float: left;
      }

      footer h4 {
        float: right;
      }
    </style>
  </head>
  <body>
    <nav>
      <img src="http://placekitten.com/408/287"/ height=50px width=50px>
      <span>Drax's Snax</span>
      <a href="/menu">Place Order</a>
      <a href="/order">Menu</a>
    </nav>
    <main>
      <article>
        <img src="http://placekitten.com/408/287" height=50px width=50px/>
        <p class="quantity">3</p>
        <img src="http://placekitten.com/408/287" height=50px width=50px/>
        <p class="menu-item"> MENU ITEM HERE</p>
      </article>
      <article>
        <img src="http://placekitten.com/408/287" height=50px width=50px/>
        <p class="quantity">3</p>
        <img src="http://placekitten.com/408/287" height=50px width=50px/>
        <p class="menu-item"> MENU ITEM HERE</p>
      </article>

      <button href="/order">Confirm Order</button>
    </main>
    <footer>
      <h2> Contact Information </h2>
      <h4> Phone Number: 416-383-5730 </h4>
      <h4> Email: <a href="">hello@example.com</a></h4>
    </footer>
  </body>
</html>
