<!doctype html>
  <html lang="en">
  <head>
    <title>Drac's Snax - Order Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!--Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jolly+Lodger|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Pirata+One|Roboto" rel="stylesheet">

      <!--CSS pages -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/order.css" type="text/css"/>

    <!--Javascript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

     <!-- Application JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/order.js"></script>

    <style>
        .row{
          display: none;
        }
    </style>
  </head>

  <body>
  <% include ../views/partials/_header %>
    <div class="order">
      <table class="table table-borderless table-dark">
        <thead>
          <tr>
            <th class="hide">Name</th>
            <th class="hide">Price</th>
            <th class="hide" width="10%">Minus</th>
            <th class="hide" width="10%">Quantity</th>
            <th class="hide" width="10%">Plus</th>
          </tr>
        </thead>
        <tbody>
          <tr id="1" class ="row">
            <td>True Blood Vials</td>
            <td>69.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td>
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
          </tr>
          <tr id="2" class ="row">
            <td>Blood Punch</td>
            <td>9.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td>
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
          </tr>
          <tr id="3" class ="row">
            <td>Fang Cookies</td>
            <td>129.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td>
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
            </tr>
          <tr id="4" class ="row">
            <td>Bloody Cupcakes</td>
            <td>5999.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td>
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
          </tr>
          <tr id="5" class ="row">
            <td id="5">Drippy Blood Cocktail</td>
            <td>59.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td>
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
          </tr>
          <tr id="6" class ="row">
            <td>Bite Shots</td>
            <td>1899.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td class="quantity">
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
          </tr>
          <tr id="7"  class ="row">
            <td>Slayer Soup</td>
            <td>89.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td class="quantity">
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
          </tr>
          <tr id="8" class ="row">
            <td>Fresh Bloody Hearts</td>
            <td>66.60</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td>
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
          </tr>
          <tr id="9" class ="row">
            <td>Flesh Rosebuds</td>
            <td>49.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td>
              <span>1</span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
          </tr>
          <tr id="10" class ="row">
            <td>Cheek Shanks with Blood Reduction</td>
            <td>49.99</td>
            <td class="minus"><i class="fas fa-minus-circle"></i></td>
            <td>
              <span></span>
            </td>
            <td class="plus"><i class="fas fa-plus-circle"></i></td>
            </tr>
        </tbody>
      </table>

      <form action="/api/users/order" method="POST">
        <button class="btn btn-dark" type="submit" id="checkout">Checkout</button>
      </form>
    </div>
    <% include ../views/partials/_footer %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
