body {
        margin-top: 10%;
        background: url('/images/bloody-background.jpg')no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }

.image {
    opacity: 0.8
}