body {
  font-family: 'Pirata One', cursive;
  margin-top: 10%;
  background: url('/images/castlevania.jpeg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.message {
  color: white;
  font-size: 1.25rem;
  position: relative;
  left: 7.5%;
  padding: 1rem;
  width: 25%;
  -webkit-animation: fadein 3s;
}

.message h2 {
  font-size: 5rem;
}

button {
margin-top: 2.5rem;
  -webkit-animation-delay: 2s;
  -webkit-animation: fadein 3s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.btn-dark {
  background-color: #8b8d6d;
  color: black;
  border-color: #4e4747;
  box-shadow: 2px 2px #696969;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
