body {
        margin-top: 10%;
        background: url('/images/castlevania.jpeg')no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

.message {
  font-size: 1.25rem;
  position: relative;
  left: 10%;
  padding: 1rem;
  width: 25%;
  -webkit-animation: fadein 3s;
}

.message h2 {
  font-size: 5rem;
}

footer {
  -webkit-animation-delay: 1s;
  -webkit-animation: fadein 3s;
  width: 10%;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
