.pt-4 {
    padding-top: 1.5rem !important;
    margin-left: 20%;
    margin-top:10%;
}

footer h2 {
    font-family: 'Pirata One', cursive !important;
    color: white;
}

.mb-md-0, .my-md-0 {
    margin-bottom: 0 !important;
    background-color: black;
}

.mt-md-0, .my-md-0 {
    margin-top: 0 !important;
    background-color: black;
}

.about {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    flex: 1 1 0 ;
}

.textbox {
    line-height: 0.5;
    flex-basis: 100%;
    max-width: calc(100% / 3);
    margin: -5px 2% 10px 2%;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

footer .fa {
    padding: 0 3px 0 3px;
}

footer .icons {
    display: flex;
    padding: 1em 0em;
    margin-right: -7%;
}

footer i {
    padding: 5px 5px;
    color: white;
}

footer p {
    color: white;
}
