footer {
    margin-top: 162px;
    padding-top: 17px;
    padding-bottom: 0;
    background-color: black;
}

footer h2 {
    font-family: 'Pirata One', cursive;
    color: white;
}

#contacts {
    display: flex;
    flex-direction: row;
}

.wrapper {
	max-width: 1150px;
    margin: 0 auto;
}

.contact-section {
	display: flex;
	justify-content: center;
    text-align: center;
    margin-top: -109px;
}

.contact-information {
    width: 55%;
    padding-top: 70px;
    margin-top: -106px;
}

.social-media-content {
    width: 50%;
    padding: 110px 0;
}

.contact-us-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 44px;
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    padding-left: 65px;
}

.contact-address,
.contact-phone,
.contact-email {
    display: flex;
    padding-top: 25px;
    padding-left: 15px;
}

footer .fa {
    padding: 0 3px 0 3px;
}

.social-media-icons {
    display: flex;
    flex-direction: column;
}

footer .icons {
    display: flex;
    padding: 1em 0em;
    margin-right: -7%;
}

footer i {
    padding: 5px 5px;
    color: white;
}

footer p {
    color: white;
}
