footer {
    margin: 4% 4% 15% 4%;
}

footer .fa {
    padding: 0 3px 0 3px;
}

footer .icons {
    float: right;
    padding: 1em 0em;
}

footer i {
    margin-right: -33px;
    padding: 20px 47px 0px 31px;
}

