header {
  margin: 4% 4% 13% 4%;
}

.title {
  font-style: italic;
}

header .logo {
  float: left;
  padding-right: 5px;
}

h1 {
  font-size: 1.5rem;
  font-family: 'Nosifer', cursive;
}

#nav-bar {
  margin-top: -50px;
  float: right;
  font-size: 20px;
}

ul {
  text-align: right;
}

li {
  list-style:none;
  display: inline;
  color: white;
  padding: 10px 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header i {
  margin-right: 0px;
  padding: 5px 5px 5px 5px;
}

.line {
  border-bottom: 2px solid white;
}

