
.carousel-inner > .carousel-item > img {
                padding-top: 5%;
                max-height: 70vh;
                max-width: 50vw;
                padding-left: 20%;
}

h1.welcome {
  font-family: 'Jolly Lodger', cursive;
  color: #c91507;
  font-size: 500%
}