body {
  margin-top: 10%;
  background: url('/images/coffins.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.transparent-box {
  width: 80%;
  max-height: 100%;
  margin: auto;
  background-color: black;
}

h2 {
  font-family: 'Pirata One', cursive;
}

