.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 4%;
 }

figure {
    margin:0;
    display: inline-block;
}

.menus h2 {
  color: #c91507;
  margin-top: 3%;
}

.menus p {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.menus {
    height: 23vw;
    width: 23vw;
    padding-right: 2%;
}

.menus img {
    width: 100%;
    height: 61%;
    object-fit: cover;
}

.image {
    opacity: 0.8
}

button {
    background-color: #8b8d6d;
    color: black;
    border-color: #4e4747;
    box-shadow: 2px 2px #696969;
}

span {
  display: none;
}
