.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
 }

figure {
    margin:0;
    display: inline-block;
}

h2 {
  color: #c91507;
}

p {
  color: #fbd8c3;
}

.menus {
    height: 23vw;
    width: 23vw;

}

.menus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    opacity: 0.8
}
