
article {
    padding-bottom: 100px;
}

article .quantity {
    float: left;
}

article .menu-item {
    float: left;
}

article img {
    float: left;
}

.image {
    opacity: 0.8
}

body {
        margin-top: 10%;
        background: url('/images/bloody-background.jpg')no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }